@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #185d43;
  --light-primary: #2eae7d;
  --primary-foreground: #f8f8fd;
  --border: #d6ddeb;
  --secondary: #000000c4;
  --foreground: #f7f7fd;
}
